
<div class="banner" style="background-image: url('<%= image_path "sailboat.jpeg" %>')">
  <div class="container">
    <h1>Sail <strong>anywhere</strong></h1>
    <p>Find and book boat rentals <strong><span data-controller="typed-js"></span></strong></p>
    <div class="row justify-content-left">
      <div class="col-sm-4 my-3">
        <%= form_with url: boats_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for: Name, Category, Location"
          %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-between align-items-center mt-5 mb-5 ">
    <div class="col-8">
      <h4>If Regene fails and the world burns (likely), the best plan is to live on a boat, catch fish, and enjoy sea life.</h4>
      <p>For captained experiences and drive-it-yourself rentals, AirSea is the easiest way to find fun on the water anywhere in the world. Connect directly with boat owners and captains to securely book online.</p>
    </div>
    <div class="col-4">
      <%= image_tag "fishing.png", width: 400 %>
    </div>
  </div>
</div>
