<div class="banner" style="background-image: url('<%= cl_image_path @boat.photo.key %>')">
  <div class="reservation-container">
    <h1><strong><%= @boat.name %></strong></h1>
  </div>
</div>

<div class="reservation-container">
  <h2>Please leave a review below</h2>
  <br>
  <%= simple_form_for [@boat, @review] do |f| %>
    <%= f.input :comment %>
    <%= f.input :rating %>
    <%= f.hidden_field :reservation_id, value: params[:reservation_id] %>
    <%= f.submit %>
  <% end %>
</div>