<div class="banner" style="background-image: url('<%= cl_image_path @boat.photo.key %>')">
  <div class="reservation-container">
    <h1><strong><%= @boat.name %></strong></h1>
  </div>
</div>

<div class="reservation-container">
  <h2>Please leave a review below</h2>
  <br>
<p>Rate the product:</p>
</p>
  <%= simple_form_for [@boat, @review] do |f| %>
    <div class="star-rating">
      <input class="radio-input" type="radio" id="star5" name="review[rating]" value="5" />
      <label class="radio-label" class for="star5" title="5 stars">5 stars</label>

      <input class="radio-input" type="radio" id="star4" name="review[rating]" value="4" />
      <label class="radio-label" for="star4" title="4 stars">4 stars</label>

      <input class="radio-input" type="radio" id="star3" name="review[rating]" value="3" />
      <label class="radio-label" for="star3" title="3 stars">3 stars</label>

      <input class="radio-input" type="radio" id="star2" name="review[rating]" value="2" />
      <label class="radio-label" for="star2" title="2 stars">2 stars</label>

      <input class="radio-input" type="radio" id="star1" name="review[rating]" value="1" />
      <label class="radio-label" for="star1" title="1 star">1 star</label>
    </div>
    <%= f.input :comment %>
    <%= f.hidden_field :reservation_id, value: params[:reservation_id] %>
    <%= f.submit class: "btn btn-reserve" %>
  <% end %>
</div>
