<div>
  <p>
    <strong>Name:</strong>
    <%= boat.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= boat.category %>
  </p>

  <p>
    <strong>Price daily:</strong>
    <%= boat.price_daily %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= boat.size %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= boat.description %>
  </p>

</div>
