<h1>Edit Boat</h1>
<%= simple_form_for [@boat] do |f| %>
  <%= f.input :name %>
  <%= f.input :production_year %>
  <%= f.input :size %>
  <%= f.input :address %>
  <%= f.input :category %>
  <%= f.input :price_daily %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
<%= link_to 'Go Back', boat_path(@boat)%>
