<div class="banner" style="background-image: url('<%= image_path "sailboat.jpeg" %>')">
  <div class="container">
    <h1>Sail <strong>anywhere</strong></h1>
    <p>Find and book boat rentals, sail boats,  jet skis, yachts, speed boats, and fishing charters.</p>
  </div>
</div>



<div class="boats-grid">
  <% @boats.each do  |boat| %>
    <div class="card">
      <%= link_to boat_path(boat) do %>
      <div class="boat-card">
        <p class="boat-name"><%= boat.name %></p>
      </div>
      <% end %>
      <p><strong>Category: </strong><%= boat.category %></p>
      <p><strong>Year: </strong><%= boat.production_year %></p>
    </div>
  <% end %>
</div>
