<% @boats.each do  |boat| %>
  <p><strong><%= boat.name %></strong> <%= boat.production_year %></p>
  <p>Category: <%= boat.category %></p>
  <p>Description: <%= boat.description %></p>
  <p><strong>Owner:</strong> <%= boat.user.first_name %></p>
<% end %>
