<div class="banner" style="background-image: url('<%= image_path "Speedboat.jpeg" %>')">
  <div class="container">
    <h1>Find <strong>the best boats available</strong></h1>

    <div class="row justify-content-left">
      <div class="col-sm-4 my-3">
        <%= form_with url: boats_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for: Name, Category, Location"
          %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>



<div class="container-boats">
    <div class="boats-grid">

      <% @boats.each do  |boat| %>
        <% num = 0 %>
        <% boat.reviews.each do |review| %>
          <% num += review.rating.to_i  %>
          <% if boat.reviews.size > 0 %>
            <% if num > 0 %>
              <% @everage = num / boat.reviews.size  %>
            <% end %>
          <% end %>
          <div class="card">
            <%= link_to boat_path(boat) do %>
              <div class="boat-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path boat.photo.key %>')">
                <p class="boat-name"><%= boat.name %> <%= %></p>
              </div>
            <% end %>
            <p><strong class="card-strong"><%= boat.category %> </strong></p>
            <p><strong class="card-strong">Year: </strong><%= boat.production_year %></p>
            <p class="boat-price"><strong class="card-strong">Price: </strong><%= boat.price_daily %>€/day</p>
            <p class="float-right review-header"><%= @everage %></p>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="map-box col-3 p-3 mb-2">
      <img src="app/assets/images/Map-example.jpg">
    </div>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
