<div class="banner" style="background-image: url('<%= image_path "Speedboat.jpeg" %>')">
  <div class="container">
    <h1>Find <strong>the best boats available</strong></h1>

    <div class="row justify-content-left">
      <div class="col-sm-4 my-3">
        <%= form_with url: boats_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for: Name, Category, Location"
          %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-8 ml-0 cards-index">
      <% @boats.each do |boat| %>
        <%= link_to boat_path(boat), style:"text-decoration: none; color: black" do %>
          <div class="card m-0">
            <img style="height: 150px; object-fit: cover; object-position: center" class="card-img-top" src="<%= cl_image_path boat.photo.key %>" alt="Card image cap">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h5 class="card-title"><%= boat.name %></h5>
                <h5 class="card-tile">$<%= boat.price_daily %></h5>
              </div>
              <p class="card-text"><%= boat.category %></p>
              <p class="stars">
                <% boat.average_review.to_i.times do %>
                  ⭐️
                <% end %>
              </p>
              </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-4">
      <div class="card" style="width:100%">
        <div id="map-index"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
      </div>
    </div>

  </div>
</div>
