<%= cl_image_tag @boat.photo.key, height: 300, width: 400, crop: :fill %>
<h1><strong><%= @boat.name %></strong> - <%= @boat.price_daily %>$</h1>
<h2>Year: <%= @boat.production_year %></h2>
<p>Category: <%= @boat.category %></p>
<p>Size: <%= @boat.size %>m</p>
<p>Description: <%= @boat.description %></p>
<p><strong>Owner:</strong> <%= @boat.user.first_name %></p>

<%= link_to "Make a reservation", new_boat_reservation_path(@boat) %>

<%= link_to 'Edit boat',
  edit_boat_path(@boat),
  class: "btn btn-primary" %>
<%= link_to "Delete",
  boat_path(@boat),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
