<div class=“banner” style=“background-image: url(‘<%= cl_image_path @boat.photo.key %>’)“>
  <div class=“container”>
    <h1><%= @boat.name %></h1>
  </div>
</div>
<div class=“boat-show-container”>
  <div class=“boat-content”>
    <h4><%= @boat.description %></h4>
    <%= link_to “Make a reservation”, new_boat_reservation_path(@boat), class:“btn btn-primary float-right” %>
    <p><strong class=“card-strong”><%= @boat.category %> </strong></p>
    <p><strong class=“card-strong”>Year: </strong><%= @boat.production_year %></p>
    <p class=“float-right”><strong class=“card-strong”>Price: </strong><%= @boat.price_daily %>€/day</p>
    <p><strong class=“card-strong”>Size: </strong><%= @boat.size %> meters</p>
  </div>
<div class=“container1 align-content-center flex-wrap”>
      <div class=“container”>
        <div class=“flex”>
          <p class=“review-header”>Reviews</p>
          <p class=“float-right review-header”>Average Rating: </p>
        </div>
        <hr class=“w-100 mx-auto”>
        <div class=“row g-2”>
          <% @reviews.each do |review|  %>
            <div class=“col-12 col-md-6 col-lg-4">
              <div class=“card h-100 mx-auto” style=“width: 300px;“>
                <div class=“d-inline mx-2”>
                  <%  review.rating.to_i.times do  %>
                    <i class=“fa fa-star checked”></i>
                  <% end %>
                  <%  (5 - review.rating.to_i).times do  %>
                    <i class=“fa fa-star”></i>
                  <% end %>
                </div>
                <div class=“card-body”>
                  <%# <h5 class=“card-title”>Title</h5> %>
                    <blockquote class=“blockquote mb-0">
                      <p class=“card-text”><%= review.comment %></p>
                      <footer class=“blockquote-footer”>By <strong><%= review.reservation.user.first_name %></strong></footer>
                    </blockquote>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
</div>
</div>
