<div class="banner" style="background-image: url('<%= image_path "Speedboat.jpeg" %>')">
  <div class="container">
    <h1>Find <strong>the best boats available</strong></h1>
  </div>
</div>



<div class="container">
  <div class="row g-0">
    <div class="boats-grid">
      <% @boats.each do  |boat| %>
        <div class="card">
          <%= link_to boat_path(boat) do %>
            <div class="boat-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path boat.photo.key %>')">
              <p class="boat-name"><%= boat.name %></p>
            </div>
          <% end %>
          <p><strong class="card-strong"><%= boat.category %> </strong></p>
          <p><strong class="card-strong">Year: </strong><%= boat.production_year %></p>
          <p class="boat-price"><strong class="card-strong">Price: </strong><%= boat.price_daily %>€/day</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
